venv
venv\
venv/*
yolov8x.pt
587f0420-77ab-11ee-9915-5fafeaa0334f.mp4
LICENSE
pexels-photo-5896476.jpeg
D:/ProjectsEffy/effyDAM/yolov8x.pt
D:\ProjectsEffy\effyDAM\pexels-photo-5896476.jpeg
D:\ProjectsEffy\effyDAM\pexels-photo-5896476.jpeg
D:\ProjectsEffy\effyDAM\app\__pycache__
D:\ProjectsEffy\effyDAM\LICENSE