venv
yolov8x.pt
587f0420-77ab-11ee-9915-5fafeaa0334f.mp4
app/__pycache__/captioning.cpython-310.pyc
app/__pycache__/*
D:\ProjectsEffy\effyDAM1\effyDAM\app\__pycache__
D:\ProjectsEffy\effyDAM1\yolov8x.pt
yolov8x.pt
D:\ProjectsEffy\effyDAM1\587f0420-77ab-11ee-9915-5fafeaa0334f.mp4
D:\ProjectsEffy\effyDAM1\yolov8x.pt